@mixin navImage($image, $height: 25px, $width: 25px) {
	display: block;
	content: "";
	height: $height;
	width: $width;
	margin-left: 0.5rem;
	margin-right: 1.5rem;
	background: url($image) no-repeat;
	background-size: contain;
}

.navigationContainer {
	display: flex;
	flex-direction: column;
	background-color: $color-primary;

	&.nav-open {
		ul {
			padding-inline-start: 0rem;
			li {
				color: #fff;
				font-size: 0.9rem;
				line-height: 3rem;
				padding-inline-start: 1rem;
				text-rendering: geometricPrecision;
				border-bottom: 1px solid $color-primaryFade;
				transition: all 400ms ease-in-out;
			}
		}
		ul {
			&.close {
				padding-inline-start: 0;

				li {
					padding-top: 1rem;
					padding-bottom: 1rem;
				}
				.iconImage {
					transition: transform 1s ease-in-out;
				}
				.iconImage:hover {
					color: #ddd;
					transform: scale(0.8) rotate(360deg);
					cursor: pointer;
				}
			}
		}

		ul:not(.close) {
			li:hover {
				background-color: $color-secondary;
				color: $color-primary;
				width: 100%;
				padding: 0;
				margin: 0;
				cursor: pointer;
			}
			li {
				display: flex;
				align-items: center;
			}

			li:nth-child(1)::before {
				@include navImage("/images/chat.svg");
			}

			li:nth-child(2) {
				&::before {
					@include navImage("/images/time-left.svg");
				}

				&:hover {
					&::after {
						float: right;
						justify-self: flex-end;
						@include navImage(
							"/images/arrow-b-down-primary.svg",
							15px,
							15px
						);
					}
				}
			}

			li:nth-child(3)::before {
				@include navImage("/images/file.svg");
			}

			li:nth-child(4)::before {
				@include navImage("/images/shopping-cart.svg");
			}

			li:nth-child(5)::before {
				@include navImage("/images/supply.svg");
			}

			li:nth-child(6)::before {
				@include navImage("/images/chat.svg");
			}
		}
	}
}
